[submodule "guia01/guia01/PruebaGit"]
	path = guia01/guia01/PruebaGit
	url = https://github.com/ChristianBatres/PruebasGit.git
[submodule "guia02/guia02/PruebaGit"]
	path = guia02/guia02/PruebaGit
	url = https://github.com/ChristianBatres/PruebasGit.git
[submodule "guia03/guia03/PruebaGit"]
	path = guia03/guia03/PruebaGit
	url = https://github.com/ChristianBatres/PruebasGit.git
